<footer class="post-info">
        <div class="published" title="{{ article.date.isoformat() }}">
            Published: <time>{{ article.locale_date }}</time>
        </div>
        {% if article.modified %}
		<br />
        <abbr class="modified" title="{{ article.modified.isoformat() }}">
                Updated: {{ article.locale_modified }}
        </abbr>
        {% endif %}

        {#
<p>In <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>.</p>
#}
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
</footer><!-- /.post-info -->
