{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
    <div class="news">
{% if articles %}
    {% for article in articles_page.object_list %}

            {% if loop.first %}
                <section id="content" class="body">
                    <ol id="posts-list" class="hfeed" start="{{ articles_paginator.per_page -1 }}">
            {% endif %}
            <li><article class="hentry">
                <header>
                    <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
                </header>

                <div class="entry-content">
                {% include 'article_infos.html' %}
                {{ article.summary }}
                <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
                </div><!-- /.entry-content -->
            </article></li>
        {% if loop.last %}
            {% if loop.length > 1 or articles_page.has_other_pages() %}
                </ol><!-- /#posts-list -->
                {% if articles_page.has_other_pages() %}
                    {% include 'pagination.html' %}
                {% endif %}
                </section><!-- /#content -->
            {% endif %}
            {% endif %}
    {% endfor %}
{% endif %}
    </div>
{% endblock content %}
