
.talk-resources {
    word-break: break-all;
}

.talk-grid {
    table-layout: auto;
    min-width: 100%;
    border-collapse: separate;
    text-align: center;
}

.talk-grid > thead th:first-child {
    max-width: 5em;
}

.talk-grid > thead th {
    text-align: center;
}

.talk-grid tr {
    height: 1.5em;
}


.rooms-4 .talk {
    width: 25%;
}

.rooms-3 .talk {
    width: 33%;
}

.rooms-2 .talk {
    width: 50%;
}

.rooms-1 .talk {
    width: 100%;
}

td.talk {
    border: 1px solid #444;
    padding: 4px;
    vertical-align: middle;
}

td.talk > a {
    text-decoration: none;
    border: none;
}

.talk-grid tr {
    line-height: 1em;
}

.talk-title a,
.talk-title a:hover,
.talk-title a:focus {
    border-bottom: none;
}

.talk-description strong {
    background: inherit;
    color: inherit;
}

/* tag speciali nei talk {{{ */
/* generati guardando i tag di glypicon come glyphicon-pushpin e copiandone il campo content */
td.talk::before {
  font-family: 'Glyphicons Halflings';
  float: right;
}
td.tag-presentazione_libro::before {
  content: "\e043";
}
td.tag-percorso_base::before {
  content: "\e146";
}
/* tag speciali nei talk }}} */

/* END TALK }}} */

/* Pagine speciali */
.body-info .entry-content > ul {
    list-style: none;
}

/*media query  min dal piccolo, max dal grande*/

@media all and (max-width: 770px) {
    .talk-grid {
        font-size: 0.8em;
    }
    .talk-grid td {
        hyphens: auto;
    }
}
@media all and (max-width: 450px) {
    .talk-grid {
        font-size: 0.5em;
    }
}

