<table class="talk-grid rooms-{{-rooms|length}}">
    <thead>
        <tr>
            <th></th>
            {% for room in rooms %}
                <th>{{room}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for time in times|sort %}
        <tr>
            <td class="talk-grid-time talk-grid-time-minutes-{{(time | parsetime | timeformat(format='short', locale=lang, tzinfo=local_tz))[-2:]}}">
<time datetime="{{time}}">
                {{time | parsetime | timeformat(format='short', locale=lang, tzinfo=local_tz)}}
</time>
            </td>
            {% for talk in times[time] %}
                {% if not loop.first and talk.room == '*' %}
                    {# skip: covered by colspan #}
                {% elif talk == None %}
                    <td></td>
                {% elif not talk.skip %}
                    <td id="t-cell-{{talk.id}}"  class="talk
                    {% if talk.room == '*' -%}allrooms{%endif-%}
                    {% for t in talk.tags %} tag-{{t|replace(' ', '_')}} {%endfor-%}
                    "
                        rowspan="{{talk.duration // timestep}}"
                        {% if talk.room == '*' %}colspan="{{rooms|length}}"{%endif%}>
                        <a href="#talk-{{talk.id}}"
                           title="{{talk.tags|join(",")}}"
                           >{{talk.title}}</a>
                    </td>
                {% endif %}
        {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{# vim: set ft=jinja: #}
